{{ define "main" }}
<header class="www-header">
    <h1 class="mb4 px2 col-12 sm-col-8 mx-auto">{{ .Title }}</h1>
    <span class="h3 block mb4 px2 col-12 sm-col-8 mx-auto"><a href="/contact" class="ampstart-btn ampstart-btn-primary caps inline-block">Contact us</a>
<a href="tel:2604821436" class="ampstart-btn ampstart-btn-primary caps inline-block">260.482.1436</a></span>
</header>
<main id="www-howitworks">
    <div class="www-howitworks flex block">
        <aside class="col-2 xs-hide"></aside>
        <article class="flex-auto col-8">
            <section class="mb4">
                <header class=" h4 my2">
                    <small><a href="/" class="ml2">Home</a> | <strong>{{ .Title }}</strong></small>
                </header>
                <hr>
                <div class="pl2 pb1 pt1">{{ .Content }}</div>
                <div class="mb4"></div>
                {{ range .Paginator.Pages }}
                <a href="{{ .URL }}" class=" col-10 pb1 pt1 text-decoration-none">
                    <div class="flex " style="min-height: 175px">
                        <div class="mr2">
                            <amp-img class="xs-hide sm-hide" src="{{ .Params.featured_image  | safeHTML }}" width="{{ .Params.featured_image_width }}" height="{{ .Params.featured_image_height }}" alt="{{ .Title }} Image" title="{{ .Title }}">
                            </amp-img>
                        </div>
                        <div class="mr2 flex flex-column">
                            <h2 class="h3 pb2">{{ .Title }}</h2>
                            <p class="pb2 ">{{ .Params.Description }}</p>
                            <div>
                                <button class="ampstart-btn ampstart-btn-primary">
                                    View Project
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                <br>
                <hr>
                <br>
                {{ end }}
            </section>
        </article>
        <aside class="col-2 xs-hide"></aside>
    </div>
</main>
{{ end }}