<div class="h4 col-10 pb1 pt1">Share Page</div>
<div class="ampstart-social-box col-10 pb1 pt1">
  <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
  <amp-social-share type="facebook" data-param-text="Plant Engineering Services" data-param-href="https://pltengineering.com" data-param-app_id="1897100060316489" aria-label="Share this on Facebook"></amp-social-share>
  <amp-social-share type="pinterest" aria-label="Share this on pintrest"></amp-social-share>
</div>